In [1]:
#import libraries:

import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
#read the oecddata.csv in a dataframe 
df = pd.read_csv('oecddata.csv')

In [4]:
df.head(10)

,COUNTRY,Country,COMMODITY,Commodity,VARIABLE,Variable,TIME,Time,Value,Flag Codes,Flags
0,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1995,1995,545912.4486,NaN,NaN
1,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1996,1996,584408.9740,NaN,NaN
2,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1997,1997,613038.9401,NaN,NaN
3,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1998,1998,594715.5676,NaN,NaN
4,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1999,1999,588441.3289,NaN,NaN
5,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2000,2000,585705.5797,NaN,NaN
6,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2001,2001,588610.4753,NaN,NaN
7,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2002,2002,573497.6130,NaN,NaN
8,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2003,2003,560270.5304,NaN,NaN
9,WLD,World,WT,Wheat,QP,"Production, kt (for Biofuels in millions of li...",2004,2004,631341.5297,NaN,NaN

In [17]:
#View all the unique values in a column
def check_unique_values(df):
    for col in df.columns:
        print(col, df[col].unique())
check_unique_values(df)

COUNTRY ['WLD' 'O29' 'NME' 'DVD' 'DVG' 'LDC' 'OED' 'AUS' 'CAN' 'CHL' 'E27' 'ISR'
 'JPN' 'KOR' 'MEX' 'NZL' 'TUR' 'USA' 'EUR' 'KAZ' 'RUS' 'UKR' 'AFR' 'DZA'
 'EGY' 'ETH' 'GHA' 'MOZ' 'NGA' 'SSA' 'ZAF' 'SDN' 'TZA' 'ZMB' 'LAC' 'ARG'
 'BRA' 'COL' 'HTI' 'PER' 'PRY' 'URY' 'ASP' 'BGD' 'CHN' 'IND' 'IDN' 'IRN'
 'MYS' 'PAK' 'PHL' 'SAU' 'THA' 'VNM']
Country ['World' 'OECD' 'Non-OECD' 'Developed' 'Developing'
 'Least Developed Countries' 'OECD countries' 'Australia' 'Canada' 'Chile'
 'European Union-27' 'Israel' 'Japan' 'Korea' 'Mexico' 'New Zealand'
 'TÃ¼rkiye' 'United States' 'EUROPE' 'Kazakhstan' 'Russia' 'Ukraine'
 'AFRICA' 'Algeria' 'Egypt' 'Ethiopia' 'Ghana' 'Mozambique' 'Nigeria'
 'Sub Saharan Africa' 'Republic of South Africa' 'Sudan' 'Tanzania'
 'Zambia' 'LATIN AMERICA AND CARIBBEAN' 'Argentina' 'Brazil' 'Colombia'
 'Haiti' 'Peru' 'Paraguay' 'Uruguay' 'ASIA' 'Bangladesh' 'China' 'India'
 'Indonesia' 'Iran' 'Malaysia' 'Pakistan' 'Philippines' 'Saudi Arabia'
 'Thailand' 'VietNam']
COMMODITY ['WT' 'CG' 'RI' 'OS' 'PM' 'VL' 'BV' 'PK' 'PT' 'SH' 'MK' 'FDP' 'BT' 'CH'
 'SMP' 'WMP' 'WYP' 'CA' 'SU' 'SUR' 'SUW' 'HFCS' 'ET' 'BD' 'FH' 'FHC' 'FHA'
 'FM' 'FL' 'SBE' 'SCA']
Commodity ['Wheat' 'Coarse grains' 'Rice' 'Oilseeds' 'Protein meals'
 'Vegetable oils' 'Beef and veal (cwe)' 'Pigmeat (cwe)'
 'Poultry meat (rtc)' 'Sheepmeat(cwe)' 'Milk' 'Fresh dairy products'
 'Butter (pw)' 'Cheese (pw)' 'Skim milk powder (pw)'
 'Wholemilk powder (pw)' 'Whey powder (pw)' 'Casein (pw)' 'Sugar (rse)'
 'Raw sugar (rse)' 'White sugar (rse)' 'High fructose corn syrup'
 'Ethanol' 'Biodiesel' 'Fish' 'Fish from capture' 'Fish from aquaculture'
 'Fish meal' 'Fish oil' 'Sugar beet' 'Sugar cane']
VARIABLE ['QP' 'IM' 'QC' 'ST' 'EX' 'NT' 'AH' 'FE' 'FO' 'BF' 'OU' 'YLD' 'XP' 'PC'
 'PP' 'CR' 'CI' 'QP__BME' 'QP__BMD']
Variable ['Production, kt (for Biofuels in millions of litres)'
 'Imports, kt (for Biofuels in millions of litres)'
 'Consumption, kt (for Biofuels in millions of litres)'
 'Ending stocks, kt (for Biofuels in millions of litres)'
 'Exports, kt (for Biofuels in millions of litres)'
 'Trade balance, kt (for Biofuels in millions of litres)'
 'Area harvested, 000 ha' 'Feed, kt' 'Food, kt' 'Biofuel use, kt'
 'Other use, kt (for Biofuels in millions of litres)' 'Yield'
 'World Price, USD/t (for Biofuels USD/100 litres)'
 'Consumption per capita, kg'
 'Producer price, local currency/t (for Biofuels local currency/ 100 litres)'
 'Crush, kt' 'Cow inventory, 000 hd'
 'Ethanol production from Biomass, in millions of litres'
 'Biodiesel production from Biomass, in millions of litres']
TIME [1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008
 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 1994
 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984
 1985 1986 1987 1988 1989 1990 1991 1992 1993 1970]
Time [1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008
 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 1994
 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984
 1985 1986 1987 1988 1989 1990 1991 1992 1993 1970]
Value [5.45912449e+05 5.84408974e+05 6.13038940e+05 ... 6.45929754e+01
 6.52586546e+01 6.61916181e+01]
Flag Codes [nan]
Flags [nan]

We will be dropping columns that are not relevant

In [18]:
#Drop 'COUNTRY', "COMMODITY", 'TIME','Flag Codes' and 'Flags' columns in the dataframe: df

df = df.drop(['COUNTRY', "COMMODITY", 'TIME','Flag Codes','Flags'], axis=1)

In [19]:
df

,Country,Commodity,VARIABLE,Variable,Time,Value
0,World,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1995,545912.448600
1,World,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1996,584408.974000
2,World,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1997,613038.940100
3,World,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1998,594715.567600
4,World,Wheat,QP,"Production, kt (for Biofuels in millions of li...",1999,588441.328900
...,...,...,...,...,...,...
366498,VietNam,Sugar cane,YLD,Yield,2017,63.468214
366499,VietNam,Sugar cane,YLD,Yield,2018,63.890929
366500,VietNam,Sugar cane,YLD,Yield,2019,64.592975
366501,VietNam,Sugar cane,YLD,Yield,2020,65.258655
366502,VietNam,Sugar cane,YLD,Yield,2021,66.191618

In [20]:
#Change the 'Value' column to integer:

df['Value'] = df['Value'].astype(int)

#Check that the change was successful:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366503 entries, 0 to 366502
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Country    366503 non-null  object
 1   Commodity  366503 non-null  object
 2   VARIABLE   366503 non-null  object
 3   Variable   366503 non-null  object
 4   Time       366503 non-null  int64
 5   Value      366503 non-null  int32
dtypes: int32(1), int64(1), object(4)
memory usage: 15.4+ MB

In [25]:
df.sample(20)

,Country,Commodity,VARIABLE,Variable,Time,Value
74938,Indonesia,Rice,QC,"Consumption, kt (for Biofuels in millions of l...",2008,37605
64289,AFRICA,Rice,FO,"Food, kt",2011,23079
96752,Paraguay,Oilseeds,FO,"Food, kt",1991,147
249687,China,Cheese (pw),PP,"Producer price, local currency/t (for Biofuels...",2008,42630
69664,Argentina,Rice,QP,"Production, kt (for Biofuels in millions of li...",1998,1078
128066,Nigeria,Vegetable oils,QC,"Consumption, kt (for Biofuels in millions of l...",2018,3172
61136,New Zealand,Rice,AH,"Area harvested, 000 ha",2005,0
290413,Russia,Sugar (rse),IM,"Imports, kt (for Biofuels in millions of litres)",2013,1198
166184,Sudan,Pigmeat (cwe),PC,"Consumption per capita, kg",2018,0
242462,United States,Cheese (pw),EX,"Exports, kt (for Biofuels in millions of litres)",2005,61
14533,Sub Saharan Africa,Wheat,ST,"Ending stocks, kt (for Biofuels in millions of...",2019,4512
260088,Mozambique,Skim milk powder (pw),FO,"Food, kt",2021,3
52124,Pakistan,Coarse grains,YLD,Yield,1995,1
23240,Indonesia,Wheat,BF,"Biofuel use, kt",2003,26
168155,Colombia,Pigmeat (cwe),EX,"Exports, kt (for Biofuels in millions of litres)",2005,0
243564,Ukraine,Cheese (pw),PC,"Consumption per capita, kg",2008,4
50313,Indonesia,Coarse grains,ST,"Ending stocks, kt (for Biofuels in millions of...",2001,432
239481,Canada,Cheese (pw),PC,"Consumption per capita, kg",1985,8
267396,World,Wholemilk powder (pw),XP,"World Price, USD/t (for Biofuels USD/100 litres)",1999,1501
85031,New Zealand,Oilseeds,ST,"Ending stocks, kt (for Biofuels in millions of...",2003,0

In [23]:
df.Variable.unique()

array(['Production, kt (for Biofuels in millions of litres)',
       'Imports, kt (for Biofuels in millions of litres)',
       'Consumption, kt (for Biofuels in millions of litres)',
       'Ending stocks, kt (for Biofuels in millions of litres)',
       'Exports, kt (for Biofuels in millions of litres)',
       'Trade balance, kt (for Biofuels in millions of litres)',
       'Area harvested, 000 ha', 'Feed, kt', 'Food, kt',
       'Biofuel use, kt',
       'Other use, kt (for Biofuels in millions of litres)', 'Yield',
       'World Price, USD/t (for Biofuels USD/100 litres)',
       'Consumption per capita, kg',
       'Producer price, local currency/t (for Biofuels local currency/ 100 litres)',
       'Crush, kt', 'Cow inventory, 000 hd',
       'Ethanol production from Biomass, in millions of litres',
       'Biodiesel production from Biomass, in millions of litres'],
      dtype=object)